server:
  address: 0.0.0.0
  port: 8082
  # servlet:
    # context-path: /api/v1

springdoc:
  api-docs:
    path: /api-docs # Personaliza la ruta del JSON
  swagger-ui:
    path: /swagger-ui.html # Personaliza la ruta de la UI
    operations-sorter: method # Ordena por método HTTP (GET, POST, etc.)
    tags-sorter: alpha # Ordena los tags alfabéticamente

spring:
  application:
    name: mi-cache
  datasource:
    url: jdbc:postgresql://localhost:5432/micachedb
    username: admin
    password: admin123
  jpa:
    hibernate:
        ddl-auto: validate
        naming:
          physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy # O CamelCaseToUnderscoresNamingStrategy
        default_schema: public
    show-sql: true
    properties:
        hibernate:
          format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USER}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        transport:
          protocol: smtp
        smtp:
          auth: true
          starttls:
            enable: true
        debug: true

jwt:
  secret-key: ${JWT_SECRET_KEY:my-super-secret-key-that-should-be-very-long}
  expiration-ms: 900000          # 15 minutos (Access Token - Corto)
  refresh-expiration-ms: 2592000000 # 30 días (Refresh Token - Largo)

app:
  confirmation-url: http://localhost:${server.port}api/v1/auth/confirm

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}
  security:
    enabled: false

logging:
  pattern:
    # Formato: Fecha | Nivel | [TraceId, SpanId] | Thread | Usuario (si existe) | Clase | Mensaje
    console: "%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr([%X{traceId:-},%X{spanId:-}]){yellow} %clr([user:%X{user:-anonymous}]){cyan} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"
  level:
    org.springframework.web.cors: DEBUG

google:
  client-id: 407408718192.apps.googleusercontent.com
  #756715587780-ma8tt6epgm59hgm3m8ba9v2okbeb7e9k.apps.googleusercontent.com
